@font-face {
  font-family: "MyWebFont";
  src: url("GemunuLibre-VariableFont_wght.ttf") format("woff2");
}

body {
  font-family: "MyWebFont", Fallback, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blanchedalmond;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul > li {
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav ul li a {
  color: yellow;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
}

nav ul ul > li:hover {
  background-color: #111111;
}

footer {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 22px;
  background: #333;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;

}

footer p a {
  text-decoration: none;
  color: yellow;
}