@font-face {
  font-family: "MyWebFont";
  src: url("GemunuLibre-VariableFont_wght.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MyWebFont", Fallback, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blanchedalmond;
}

.nav-logo {
  width: 90px;
  height: auto;
  padding: 5px;
  margin-top: 13px;
  background-image: url(./images/logo.png);
  background-size: 84px 27px;
  background-repeat: no-repeat;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul > li {
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

footer p a {
  text-decoration: none;
  color: yellow;
}

nav ul li a {
  color: yellow;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
}

.info {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.info li {
  width: 400px;
  padding: 5px 5px;
  font-size: 1.2em;
  font-weight: normal;
}

nav ul ul > li:hover {
  background-color: #111;
}

h1 {
  margin: 0 auto;
  width: 400px;
  font-size: 2em;
  padding-top: 15px;
  color: darkcyan;
}

.movies {
  display: flex;
  flex-flow: row wrap;
  gap: 10% 5%;
  justify-content: center;
  margin: 1% 5%;
}

.card {
  margin: 15px 10px;
}

h3 {
  padding: 5px 5px;
}

.card h3 {
  width: 220px;
  overflow: hidden;
}

.btn {
  padding: 10px 15px;
  background-color: slateblue;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  transition-duration: 1s;
  cursor: pointer;
}

.btn:hover {
  background-color: darkred;
}

.likes {
  padding: 5px 5px;
  font-size: 1.1em;
  color: deeppink;
}

footer {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 22px;
  background: #333;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* popup window */

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: brown;
  opacity: 99%;
}

.popup {
  background-color: bisque;
  padding: 2rem;
  width: 80%;
  height: auto;
  margin: 5% 10%;
}

.details {
  display: flex;
  height: 60%;
}

.summary {
  text-align: justify;
  padding: 0 10px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary p {
  margin-top: 1rem;
}

.popup img {
  object-fit: contain;
}

input {
  padding: 14px;
  border: none;
  border-radius: 5px;
  width: 30%;
  margin: 8px;
  outline: none;
}

.comments {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 235, 215);
}

.close {
  float: right;
}

.details .btn {
  margin-right: 50px;
  width: 150px;
  height: 50px;
}
